name: Test on pull request
on:
  - pull_request
  - workflow_dispatch
jobs:
  test_pull_request:
    name: Test pull request
    permissions:
      checks: write
    runs-on:
      - ubuntu-latest
    steps:

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          java-version: "21"
          distribution: temurin
          cache: gradle

      - uses: gradle/actions/setup-gradle@v3

      - run: ./gradlew test

      - uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          comment_mode: off
          files: ./build/test-results/test/*.xml
